@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 56.25%; // 9px
  box-sizing: border-box;
  overflow-x: hidden;

  @media only screen and (min-width: $bp__md) {
    font-size: 62.5%; // 10px
  }
}

body {
  font-family: 'Poppins', sans-serif;
  color: $col__black;
  background: $col__gray-10;
}

section {
  &:not(:last-child) {
    margin-bottom: 6rem;
  }
  margin-bottom: 3rem;
}

ul {
  list-style: none;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgba($col__primary, 0.6);
  color: $col__white;
}
