.menu {
  margin-top: 2rem;
  position: relative;

  &__btn {
    @include square(5rem);
    padding: 1rem;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    transform: scale(1);
    outline: none;
    position: relative;
    z-index: 20;

    &:active {
      background: $col__white;
      box-shadow: $shadow__default;
    }

    &:focus {
      border: $outline;
    }

    &[aria-expanded='true'] {
      transform: scale(0.8);
      transition: transform $transition__md ease-in;
      background: $col__white;
      box-shadow: $shadow__default;
    }

    > svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__nav {
    background: $col__white;
    box-shadow: $shadow__active;
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 10;
    padding: 1rem;
    transform: scale(0);
    transform-origin: top left;
    visibility: hidden;

    &[aria-hidden='false'] {
      animation: bounce-in 0.3s ease-in forwards;
      visibility: visible;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    padding: 1rem;

    > svg {
      display: block;
      width: 2rem;
      margin-right: 1.5rem;
    }
  }

  &__nav-link {
    display: block;
    padding: 0.5rem;
    border-bottom: 1px solid transparent;
    outline: none;

    &:focus {
      border-bottom: $outline;
    }

    &:hover {
      color: $col__black;
    }
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
