.menu {
  margin-top: 2rem;
  position: relative;

  &__btn {
    @include square(5.5rem);
    padding: 1.25rem;
    border: $border__none;
    background: $col__white;
    box-shadow: $shadow__default;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(1);
    position: relative;
    z-index: 100;
    border-radius: 50%;

    &:hover {
      background: $col__gray-10;
    }

    &:focus,
    &:active {
      outline: none;
      border: $border__outline;

      &:hover {
        border: $border__none;
      }
    }

    &[aria-expanded='true'] {
      transform: scale(0.8);
      transition: transform $transition-duration__md ease-in;
    }

    > svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    background: $col__white;
    box-shadow: $shadow__mini;
    border-radius: $border-radius__lg;
    position: absolute;
    top: 3rem;
    left: 3rem;
    z-index: 10;
    padding: 1rem;
    transform: scale(0);
    transform-origin: top left;
    visibility: hidden;

    &[aria-hidden='false'] {
      animation: bounce-in 0.3s ease-in forwards;
      visibility: visible;
    }
  }

  &__nav-item {
    display: flex;
    align-items: center;
    padding: 1rem;

    > svg {
      display: block;
      width: 2rem;
      margin-right: 1.5rem;
    }
  }

  &__nav-link {
    display: block;
    padding: 0.5rem;
    border-bottom: $border__none;

    &:focus,
    &:active {
      outline: none;
      border-bottom: $border__outline;
    }

    &:hover {
      color: $col__black;
    }
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
