.experience {
  &__card {
    display: flex;
    flex-basis: 100%;

    @media only screen and (min-width: $bp__xs) {
      flex-basis: 85%;
    }

    @media only screen and (min-width: $bp__sm) {
      flex-basis: 50%;
    }
  }

  &__placeholder {
    flex-basis: 0%;

    @media only screen and (min-width: $bp__xs) {
      flex-basis: 15%;
    }

    @media only screen and (min-width: $bp__sm) {
      flex-basis: 50%;
    }
  }

  &__list-item {
    display: flex;

    @media only screen and (min-width: $bp__sm) {
      &:nth-child(odd) {
        flex-direction: row-reverse;

        > .experience__card {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
