.heading__xs {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba($col__black, 0.7);
}
.heading__sm {
  font-size: 1.6rem;
  font-weight: 500;
  color: $col__black;
}
.heading__md {
  font-size: 1.8rem;
  font-weight: 600;
  color: $col__black;
}
.heading__lg {
  font-size: 2.5rem;
  font-weight: 300;
  color: $col__black;
}

.body__md {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.body__lg {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1.4;
}
