.card {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  @include square(8.5rem);
  border: $border__none;
  border-radius: 50%;
  box-shadow: $shadow__default;
  background: $col__white;
  position: relative;

  > svg {
    display: block;
    padding: 1.75rem;
    width: 100%;
    height: 100%;
  }

  &__label {
    position: absolute;
    z-index: 50;
    color: $col__white;
    background: $col__black;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    top: 95%;
    visibility: hidden;
    opacity: 0;
    transition: $transition-duration__md opacity ease-in $transition-delay__md;
  }

  &__wrapper {
    border: $border__none;
    background: transparent;
    outline: none;

    &[href] {
      cursor: pointer;
    }

    &:hover,
    &:focus,
    &:active {
      > .card {
        background: $col__gray-10;

        > .card__label {
          visibility: visible;
          opacity: 0.9;
        }
      }
    }

    &:focus,
    &:active {
      > .card {
        border: $border__outline;
      }
    }
  }
}
