.legend {
  margin: 1rem;
  padding: 1.5rem 2.5rem;
  border: 1px solid transparent;
  border-radius: $border-radius__lg;
  box-shadow: $shadow__mini;
  background: $col__white;
  position: relative;

  &__hr {
    height: 1px;
    width: 100%;
    background: $col__gray-40;
    margin: 0.75rem 0;
  }
}
