.tooltip {
  position: relative;

  [role='tooltip'] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background: $col__black;

    font-size: 1.4rem;
    font-weight: 400;
    color: $col__white;

    padding: 0.25rem 1.25rem;
    border-radius: $border-radius__sm;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s opacity ease-in 0.4s;

    &.--top {
      bottom: 100%;

      &::after {
        top: 100%;
        border-top-color: $col__black;
      }
    }

    &.--bottom {
      top: 100%;

      &::after {
        bottom: 100%;
        border-bottom-color: $col__black;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border: 5px solid transparent;
    }
  }

  &:hover {
    [role='tooltip'] {
      visibility: visible;
      opacity: 1;
    }
  }
}
